* {
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}
.drop {
    animation: dropIn 1s ease forwards;
    animation-delay: calc(var(--order) * 100ms);
}
@keyframes dropIn {
    from {
        transform: translateY(-100%);   
    }
    to {
        transform: translateY(0);
    }
}
.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 4em;
    width: 100%;
    flex-direction: row;
    left: 0px;
    bottom: 0px;
}
.footer_logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 2px;
    border-color: white;
}

.footer_text {
    width: 40%
}

.footer_text p {
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
}

.footer_text h1 {
    font-size: 15px;
    padding: 10px;
}

.acrylic

/* Apply acrylic effect */
    {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(176, 177, 193, 0.5);

}

.acrylic_grey

/* Apply acrylic effect */
    {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 30, 0, 0.559);
}

.information_list {
    width: 30%;
    margin-right: 100px;
}

.information_list h4 {
    font-size: 15px;
    padding: 10px;
}

.information_list ul li {
    font-size: 13px;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    padding-bottom: 10px;
    position: absolute;
    top: 23%;
    left: 35%;
    
}

.div_button {
    font-size: 14px;
    padding: 5px;
}

.div_button:hover {
    color: blue;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: clamp(300px, 100%, 2200px);
}

.header_logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 2px;
    border-color: white;
}

.header_text h1 {
    font-size: 15px;
    color: white;

}

.logo_and_text_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_menu {
    display: flex;
    align-items: center;

    gap: 10px;
    flex-direction: row;
}

.div_button {
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.div_button:hover {
    color: blue;
    transition-property: color;
    transition-duration: 0.5s;
    cursor: pointer;
}

.div_button_login {
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    border-width: 2px;
    border-color: white;
    color: white;
    
}
.div_button_login:hover {
    background-color: red;
    color: white;
    transition-property: background-color;
    transition-duration: 0.3s;
    cursor: pointer;
}
.div_button_register {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border-width: 2px;
    border-color: blue;
    color: blue;
}
.div_button_register:hover {
    background-color: greenyellow;
    color: black;
    transition-property: background-color;
    transition-duration: 0.3s;
    cursor: pointer;
}
.leftcolumn {
    float: left;
    width: 74%;
    margin-right: 10px;
    margin-bottom: 20px;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 0px;
    margin-top: 20px;
    margin-left: 0px;
}

.fakeimg {
    width: 100%;
    padding: 20px;
}


.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row ::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
.header_menu a {
   text-decoration: none;
}
.footer_menu a {
    text-decoration: none;
 }