* {
    box-sizing: border-box;
}
body {
    background-color: skyblue;
}
.div_button {
    font-size: 14px;
    padding: 5px;
}
.drop {
    animation: dropIn 1s ease forwards;
    animation-delay: calc(var(--order) * 25ms);
}
@keyframes dropIn {
    from {
        transform: translateY(-100%);   
    }
    to {
        transform: translateY(0);
    }
}
.acrylic_grey

/* Apply acrylic effect */
    {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 30, 0, 0.559);
}
.div_button:hover {
    color: blue;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header_logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 2px;
    border-color: white;
}

.header_text h1 {
    font-size: 15px;
    color: white
}

.logo_and_text_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_menu {
    display: flex;
    align-items: center;

    gap: 10px;
    flex-direction: row;
}

.div_button {
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.div_button:hover {
    color: blue;
    transition-property: color;
    transition-duration: 0.5s;
    cursor: pointer;
}

.div_button_login {
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    border-width: 2px;
    border-color: white;
    color: white;
}

.div_button_login:hover {
    background-color: red;
    color: white;
    transition-property: background-color;
    transition-duration: 0.3s;
    cursor: pointer;
}

.div_button_register {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border-width: 2px;
    border-color: blue;
    color: blue;
}
.div_button_register:hover {
    background-color: greenyellow;
    color: black;
    transition-property: background-color;
    transition-duration: 0.3s;
    cursor: pointer;
}
.header_menu a {
    text-decoration: none;
 }
 .form_container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     flex-direction: column;
     background-color: none;
    
 }
 .form_container h1 {
     color: blue;
 }
 .form_container form {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     padding: 20px;
     background-color: white;
     border-radius: 10px;
     box-shadow : 0 0 10px 0 black;
     margin-top: 10px;
     animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
     
 }
 @keyframes rainbow{
    100%,0%{
        box-shadow: 0 0 10px 0 rgb(255,0,0);
    }
    8%{
        box-shadow:0 0 10px 0 rgb(255,127,0);
    }
    16%{
        box-shadow:0 0 10px 0 rgb(255,255,0);
    }
    25%{
        box-shadow:0 0 10px 0 rgb(127,255,0);
    }
    33%{
        box-shadow:0 0 10px 0 rgb(0,255,0);
    }
    41%{
        box-shadow:0 0 10px 0 rgb(0,255,127);
    }
    50%{
        box-shadow:0 0 10px 0 rgb(0,255,255);
    }
    58%{
        box-shadow:0 0 10px 0 rgb(0,127,255);
    }
    66%{
        box-shadow:0 0 10px 0 rgb(0,0,255);
    }
    75%{
        box-shadow:0 0 10px 0 rgb(127,0,255);
    }
    83%{
        box-shadow:0 0 10px 0 rgb(255,0,255);
    }
    91%{
        box-shadow:0 0 10px 0 rgb(255,0,127);
    }
}
 .form_container form input {
     padding: 10px;
     border-radius: 5px;
     border: 1px solid blue;
 }
 .form_container form .button_submit {
     background-color: blue;
     color: white;
     border: none;
     padding: 10px;
     border-radius: 10px;
     cursor: pointer;
     font-size: 15px;
     border: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
 }
 .form_container form .button_submit:hover {
     background-color: rgb(255, 0, 0);
     transition-property: background-color;
     transition-duration: 0.3s;
     transition-timing-function: ease-in-out;
 }
 .form_container form label {
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
 }
